node_modules/**
.env*
!.env.example
dist/**

# Temporary build folder.
nodejs/**

# Additional files that might existing for testing and dev purposes.
.next/**
next.out/**
cdk.out/**

cdk.json
!cdk/cdk.json

.yarn*
.yarn/**

**/cdk.out
