# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
    push:
        branches: ['master']

jobs:
    build:
        runs-on: ubuntu-22.04
        strategy:
            matrix:
                node-version: [16.x]

        steps:
            - uses: actions/checkout@v3
              with:
                  fetch-depth: 10
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: 'npm'
            - run: npm ci
            - name: Install zip
              run: |
                  sudo apt-get update
                  sudo apt-get install zip -y
            - run: npm run build
            - uses: auto-it/setup-auto@v1
            - name: Release
              run: auto shipit --plugins npm,git-tag,conventional-commit
              env:
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
